<div id="infoDescription">
    <p class="defra-map-info__feature">
        <span class="defra-map-info__type">
            <h2 class="defra-map-info__name defra-map-info__name--emphasis">{{ model.titleLevel }} risk from {{ model.titleSource }} flooding</h2>
            <p class="defra-map-info__description">High or overflowing rivers would possibly lead to severe or widespread flooding. If this happens, your life might be in danger and you should be prepared to evacuate. It could also cause severe travel disruption.</p>
        </span>
    </p>
</div>